<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="horizontal">
          <dt>Username</dt>
          <dd><%= @user.username %></dd>

          <dt>Facebook Access Token</dt>
          <dd>
            <p><%= link_to "Get Facebook Access Token", "https://www.facebook.com/dialog/oauth?client_id=149705581903855&redirect_uri=http://localhost:3000/facebook/callback&scope=read_stream,email,user_photos", :class => "btn btn-primary" %></p>
            <p><%= truncate @user.facebook_access_token %></p>
          </dd>

          <dt>Twitter Access Token</dt>
          <dd>
            <p><%= link_to "Get Twitter Access Token", "http://localhost:3000/auth/twitter", :class => "btn btn-primary" %></p>
            <p><%= truncate @user.twitter_access_token %></p>
            <p>Secret: <%= truncate @user.twitter_secret %></p>
          </dd>

        </dl>

        <ul class="media-list">
          <% @user.posts.each do |post| %>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="https://graph.facebook.com/<%= post.from_id %>/picture">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= post.from_name %></h4>
              <%= post.message %>
              <%= link_to "Go Watch", post.link, :class => "btn btn-success" %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>









